<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>top page</title>
<meta http-equiv="Content-Type"
  content="text/html" charset="UTF-8">
<style>
 pre { font-size:13pt; color:gray; padding:5px 10px; border:1px solid gray; }
 h1 { font-size:18pt; font-weight:bold; color:gray; }
 body { font-size:13pt; color:gray; margin:5px 25px; }
 tr { margin:5px; }
 th { padding:5px; color:white; background:darkgray; }
 td { padding:5px; color:black; background:#f0f0f0; }
</style>
<style th:include="part :: frag_style"></style>
</head>
<body>
  <h1 th:text="#{content.title}">Helo page</h1>
  <div th:inline="text" th:object="${object}">
  	<p th:text="${id} + 'is' +(${check}?${trueVal}:${falseVal})">aaaabbbbcccc</p>
  	<p>IDは[[*{name}]]</p>
  </div>
  
  <p th:text="${msg}"></p>
  <table>
  <form method="POST" action="/" th:object="${formModel}">
  <ul>
    <!-- <li th:each="error : ${#fields.detailedErrors()}"
      class="err" th:text="${error.message}" /> -->
  </ul>
  <tr><td><label for="name">名前</label></td>
    <td><input type="text" name="name" th:value="*{name}" th:errorclass="err" />
    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" th:errorclass="err">
    </div></td></tr>
  <tr><td><label for="age">年齢</label></td>
    <td><input type="text" name="age" th:value="*{age}" th:errorclass="err" />
    <div th:if="${#fields.hasErrors('age')}" th:errors="*{age}" th:errorclass="err">
    </div></td></tr>
  <tr><td><label for="mail">メール</label></td>
    <td><input type="text" name="mail" th:value="*{mail}" th:errorclass="err" />
    <div th:if="${#fields.hasErrors('mail')}" th:errors="*{mail}" th:errorclass="err">
    </div></td></tr>        
  <tr><td><label for="memo">メモ</label></td>
    <td><textarea type="text" name="memo" th:text="*{memo}"
          cols="20" rows="5"/></textarea></td></tr>
  <tr><td></td><td><input type="submit" /></td></tr>
  </form>
  </table>
  </hr>
  
  <div th:include="part::frag_body"></div>
  
  <table>
  <tr><th>ID</th><th>名前</th><th>年齢</th><th>メール</th><th>メモ</th></tr>
  <tr th:each="obj : ${datalist}">
    <td th:text="${obj.id}"></td>
    <td th:text="${obj.name}"></td>
    <td th:text="${obj.age}"></td>
    <td th:text="${obj.mail}"></td>
    <td th:text="${obj.memo}"></td>
  </tr>
  </table>
  <!-- pre th:text="${data}"></pre>
    <div th:include="part :: frag_body">
    <p>this is original content.</p>
  </div> -->
</body>
</html>